* {
    font-family: 'Roboto', sans-serif;
    margin-left: 10px;
    margin-right: 15px;
}

a, a:visited { 
    color: gray;
    text-decoration: none;
    }
a:hover {
    color: red;
    text-decoration: none;
    }

p {
    font-size: 1.1em;
}



li {
    font-size: 1.1em;
    margin-bottom: 5px;
}