* {
    font-family: 'Roboto', sans-serif;
    
    padding-left: 10px;
    padding-right: 7px;
}

a, a:visited { 
    color: darkgrey;
    text-decoration: none;
    }

a:hover {
    color: tomato;
    text-decoration: none;
    }

p {
    font-size: 1.1em;
}

li {
    font-size: 1.1em;
    margin-bottom: 5px;
}