* {
    font-family: 'Roboto', sans-serif;
    
    margin-left: 10px;
    margin-right: 7px;
}

a, a:visited { 
    color: darkgrey;
    text-decoration: none;
    }

a:hover {
    color: tomato;
    text-decoration: none;
    }

p {
    font-size: 1.1em;
}

ul {
    list-style-type: none;
}

li {
    font-size: 1.1em;
    margin-bottom: 5px;
}

table, th, td {
    border: 1px solid;
    border-collapse: collapse;
}

tr {
    text-align: center;
}